body {
    background-color: rgb(223, 229, 213)
}

form {
    margin: 200px 200px 200px 200px;
}

fieldset {
border-radius: 10px;
background-color:rgb(112, 124, 90);
border:none;
}

legend {
font-size: 20px;
font-family:monospace;
color:rgb(57, 62, 47)
}

.name {
    border-radius: 10px;
}

.birthday {
    border-radius:10px;
    font-family: monospace;
    font-size: larger;
}

.signup {
    border-radius: 10px;
    background-color:rgb(112, 124, 90);
    border:rgb(57, 62, 47) solid 2px;
    font-family: monospace;
    color: rgb(57, 62, 47);
    font-size: larger;
}

label {
    font-family: monospace;
    color: rgb(57, 62, 47);
    font-size: larger;
}

:placeholder-shown {
    font-family: monospace;
    font-size: larger;
}

audio {
    border-radius: 50px;
    background-color: rgb(112, 124, 90);
    border: rgb(57, 62, 47) solid 2px;
}

div {
    text-align: center;
}

